.footer {
  position: fixed;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 18px;

  font-size: 14px;
  line-height: 0;

  color: white;
  background-color: #464646;
  padding: 4px 20px;

  z-index: 100;
}
