.container {
  display: flex;
}
.formCard {
  width: 50%;
  padding: 8px;
}
.actions {
  margin-top: 8px;
  text-align: right;
}

.imageCard {
  overflow: hidden;
  width: 50%;
}

.image {
  width: 100%;
}
