.buttonCard {
  position: fixed;
  right: 30px;
  bottom: 30px;
  padding: 0;
  margin: 0;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  opacity: 0;

  /* display: none; */
  transition: opacity 0.2s linear;
}

.buttonCardVisible.buttonCard {
  display: block;
  opacity: 75%;
}

.button {
  bottom: 30px;
  right: 30px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  cursor: pointer;
}
